{% load bootstrap4 %} {% load static %} {% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}}</title>
    {% else %} {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% endblock styles %}
    <title>Home Neighborhood</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a href="{% url 'home' %}" class="navbar-brand">Our Home NEIGHBORHOOD</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user.profile.neighborhood %}
      <a
        class="my-neighborhood"
        href="{% url 'neighborhood' user.profile.neighborhood.id %}"
        >{{user.profile.neighborhood.name}}</a
      >
      {% endif %}

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form
          class="form-inline ml-auto"
          role="search"
          action="{% url 'search' %}"
        ></form>
        {% if user.is_authenticated %}
        <a
          class="nav-item nav-link"
          style="border: 2px solid green; margin-left: 2px"
          href="{% url 'create_neighborhood' %}"
          >Create Neighborhood</a
        >
        {% if current_user.profile.profilepic.url %}
        <a href="{% url 'profile'%}"
          ><img
            class="profilepic"
            src="{{ current_user.profile.profilepic.url }}"
            alt=""
        /></a>
        {% else %}
        <a href="{% url 'profile'%}"
          ><img
            class="profilepic"
            src="https://res.cloudinary.com/dbos9xidr/image/upload/v1626854682/zvtfufhexa8lqqqgcdt3.png"
            alt=""
        /></a>
        {% endif %}
        <a class="nav-item nav-link" href="/logout">Logout</a>

        {% else %}

        <a class="nav-item nav-link" href="{% url 'register' %}">Signup</a>

        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>

        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock content %} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    {% bootstrap_javascript %}
    <script src="../static/js/script.js"></script>
    {% endblock scripts %}
  </body>
</html>
