{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      {% if businesses %}
      <h1>Found {{ businesses|length }} of searched term {{message}}</h1>
    {% else %}
      <h1> Found 0 business for the search term {{message}}</h1>
    {% endif %}    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        {% if businesses %}
        {% for business in businesses %}
        <div class="business">
          <h2>{{business.name}}</h2>
          <p>{{business.description}}</p>
          <img src="{{business.image.url}}" width="100%" class="img-thumbnail " alt="">
          <p>Owner: {{business.user.profile.first_name}} {{business.user.profile.last_name}} </p>
          <P>Email Address: {{business.email}}</P>
          {% if business.user.username == current_user.username %}
          <div class="">
            <a href="{% url 'update_business' business.id %}" class="btn btn-success">Update</a>
            <a href="{% url 'delete_business' business.id %}" class="btn  btn-danger">Delete</a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
{% endblock %}