{% load bootstrap4 %} {% load static %} {% load cloudinary %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Neighborhood</title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% endblock styles %}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
      <a href="{% url 'home' %}" class="navbar">Our Home NEIGHBORHOOD</a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form
          class="form-inline ml-auto"
          role="search"
          action="{% url 'search' %}"
        >
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li>
              <a href=""
                ><img
                  class="profilepic"
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6NHSdKl5oULRsruEEsGVXTtjBbALddYSZ7A&usqp=CAU"
                  alt=""
              /></a>
            </li>
            <li class="nav-item active">
              <a class="nav-item nav-link" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{% url 'register' %}"
                >Register As Our Neighborhood</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </form>
      </div>
    </nav>
    {% block content %} {% endblock content %} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    {% bootstrap_javascript %}
    <script src="../static/js/script.js"></script>
    {% endblock scripts %}
  </body>
</html>
